
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr: #2B3648;
}

/* #212936 */

.navigationBody {
    display: flex;
    justify-content: center;
    align-items: top;
    min-height: 2em;
    background: var(--clr);
}

.navigation {
    position: relative;
    width: 26em;
    height: 5em;
    background: #212936;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    overflow: visible;
}

button {
    background: transparent;
    border: none !important;
}

.navigation ul {
    display: flex;
    width: 23em;
    padding-left: 0;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 5em;
    height: 0.7em;
    z-index: 1;
}

.navigation ul li button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li button .league-img {
    position: relative;
    display: block;
    line-height: 3em;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}

.navigation span {
    margin-left: 0;
}

.navigation ul li.active button .league-img {
    transform: translateY(1.5em);
}

.navigation ul li button .text {
    position: absolute;
    color: #c4c4c4;
    font-weight: 400;
    font-size: 0.59em !important;
    letter-spacing: 0.05em;
    transition: 0.5s;
    /* opacity: 0; */
    transform: translateY(-3.5em);
}

.navigation ul li.active button .text {
    opacity: 1;
    transform: translateY(-1.5em);
}

.indicator {
    position: absolute;
    top: 60%;
    width: 4.4em;
    height: 4.4em;
    background: #C2ED63;
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;

}

.indicator::before {
    content: "";
    position: absolute;
    top: 21%;
    left: -23px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-bottom-right-radius: 150px;
    box-shadow: 1px 5px 0 0 var(--clr);
}

.indicator::after {
    content: "";
    position: absolute;
    top: 21%;
    right: -23px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-bottom-left-radius: 150px;
    box-shadow: -1px 5px 0 0 var(--clr);
} 

.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(75px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(74px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(74px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(74px * 4));
}

.league-img {
    width: 58%;
    height: 70%;
}