
.background{
    color: #fff;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* align-content: stretch; */
    flex-wrap: nowrap;
    min-height: 100vh;
    padding-top: 4em !important;
    background-image: url('http://localhost:3000/ronaldino.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 3em;
    background-attachment: fixed;
    
    
    /* background-size: 80vh 80vh; 
    width: 85vh */
}

.btn {
    color: #2B3648;;
    background-color: #C2ED63;
}

.btnLogin {
    color: #2B3648;
    box-shadow: 8px 8px 4px  #212936;
}

.btnLogin:hover {
    color: #c4c4c4;
    background: #212936;
    box-shadow: 5px 5px 5px  #C2ED63;
}

span {
    color: #C4C4C4;

}

a {
    color: #C2ED63;
}

.nav-text a {
    text-decoration: none;
    color: #56657F;
    font-size: 1em;
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1em;
    border-radius: 5px;
}
