.background{
    color: #fff;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    min-height: 100vh;
    background: linear-gradient(to left, rgb(33, 41, 54, 0.9), rgb(33, 41, 54, 0.1)), url(http://localhost:3000/ronaldino.jpg) top;
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center 4em;
    padding-left: 2.3em;
    margin-left: -2.3em;
}

.carousel-text {
    position: relative;
    top: 2.1rem;
    font-size: 1.5rem;
    color: #C2ED63; 
    overflow:visible;
}

.carousel-caption {
    width: 50%;
}

.carousel-inner {
    height: 16rem;
}

.carousel-item {
    height: 15.2rem; 
}

.carousel-image {
    height: 15.2rem;
}

.welcome-text {
    position: relative;
    left: -9rem;
}

.home-carousel {
    position: relative;
    left: 9rem;
    height: 15.4rem !important;
}

.btn {
    color: #2B3648;;
    background-color: #C2ED63;
}

.btnLogin {
    color: #2B3648;
    box-shadow: 8px 8px 4px  #212936;
}

.btnLogin:hover {
    color: #c4c4c4;
    background: #212936;
    box-shadow: 5px 5px 5px  #C2ED63;
}

span {
    color: #C4C4C4;

}

a {
    color: #C2ED63;
}

/* .nav-text a {
    text-decoration: none;
    color: #56657F;
    font-size: 1em;
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1em;
    border-radius: 5px;
} */
