
body {
    background-color: #2B3648;
}

.field {
    border-radius: 0.3rem;
    box-shadow: 0px 3px 8px rgb(24, 24, 24);
    min-height: 95vh;
    height: 100%;
    background-image: url('http://localhost:3000/field.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    overflow: visible !important;
    width: 100%;
}

.card-base {
    text-align: center;
    font-size: 1rem;
    color: #C2ED63;
    background-color: #212936;
    width: 3em;
    transform: translateX(3em);
    border-radius: 15px;
    margin-right: 0;
}

.card-base-active {
    background-color:#C2ED63;
    border-color: white;
    border-radius: 30%;
    border: 1rem;
    width: 9em;
    height: 7em;
}

.add-button {
    text-align: center;
    font-size: 1rem;
    color: #C2ED63;
    background-color: #212936;
    width: 3em;
    transform: translateX(3em);
    border-radius: 15px;
    margin-right: 0;
    margin-bottom: 1rem;
}

.LST {
    position: absolute;
    top: 12%;
    left: 18%;
}
.RST {
    position: absolute;
    top: 12%;
    left: 39%;
}

.LM {
    position: absolute;
    top: 34%;
    left: 0%;
}
.RM {
    position: absolute;
    top: 34%;
    left: 58%;
}

.LW {
    position: absolute;
    top: 15%;
    left: 8%;
}

.CST {
    position: absolute;
    top: 12%;
    left: 28%;
}

.RW {
    position: absolute;
    top: 15%;
    left: 48%;
}

.LCM {
    position: absolute;
    top: 40%;
    left: 16%;
}

.CCM {
    position: absolute;
    top: 40%;
    left: 28%;
}

.RCM {
    position: absolute;
    top: 40%;
    left: 41%;
}

.LB {
    position: absolute;
    top: 66%;
    left: 0%;
}

.LCB {
    position: absolute;
    top: 68%;
    left: 17%;
}

.RCB {
    position: absolute;
    top: 68%;
    left: 41%;
}

.RB {
    position: absolute;
    top: 66%;
    left: 58%;
}

.GK {
    position: absolute;
    top: 72%;
    left: 29%;
}




.squad-coins-icon {
    width: 1rem !important;
    height: 1rem !important;
}

.info-view {
    height: 100%;
    margin-bottom: 25vh;
}

.hover-view {
    width: 130%;
    margin-left: -2rem;
    margin-top: 3rem;
    min-height: 30rem !important;
    background-color: #465977;
}

.hover-image {
    width: 60%;
    margin-top: -6rem;
    margin-bottom: 0.2rem;
    border: rgb(24, 24, 24);
}

.hover-view-top-half {
    min-height: 15rem !important;
}

 
.squad-container-squads {
    min-height: 90vh;
    max-height: 95vh;
    padding-top: 4em;
    min-width: 70% !important;
    max-width: 60% !important;
}



.info-container {
    min-width: 30% !important;
}

.league-hover-div{
    max-width:30%;
    max-height:30%;
}
.league-hover {
    max-width:100%;
    max-height:100%;
}



.mt--1 {
    margin-top: -3rem !important;
}

.pt--1 {
    padding-top: -3rem !important;
}
/* 
.back {
    z-index: -1 !important;
} */

.container:nth-child {
    display: inline-block;
} 

.col {
    padding: 0;
}

.playercard {
    margin-top: -5rem;
    overflow: visible;
    min-width: 8rem;
    width: 20%;
    min-height: 9rem;
    height: 20%;
}




/* .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.col {
    display: flex;
    justify-content: space-around;
    align-items: center;
} */
