
body {
    background-color: #2B3648;
}

.field {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.3rem;
    box-shadow: 0px 3px 8px rgb(24, 24, 24);
    /* align-content: stretch; */
    flex-wrap: nowrap;
    min-height: 95vh;
    background-image: url('http://localhost:3000/fieldgreybackground.jpg');
    background-repeat: no-repeat;
    background-position: center 4.5em;
    /* background-attachment: fixed; */
    background-size: cover; 
    overflow: visible !important;
    width: 85vh;
}

.card-base {
    text-align: center;
    font-size: 1rem;
    color: rgb(152, 247, 242);
    

}


.LM {
    margin-top: -4rem !important;
}

.RM {
    margin-top: -4rem !important;
}

.LB {
    margin-top: -2rem !important;
}

.RB {
    margin-top: -2rem !important;
}

.GK {
    margin-top: -3rem !important;
}

/* 
.container {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
    flex-wrap: nowrap;
    min-height: 95vh;
    padding-top: 4em;
}
*/

.mt--1 {
    margin-top: -3rem !important;
}

.pt--1 {
    padding-top: -3rem !important;
}
/* 
.back {
    z-index: -1 !important;
} */

.container:nth-child {
    display: inline-block;
} 

.col {
    padding: 0;
}

.playercard {
    position: relative;
    overflow: visible;
    min-width: 8rem;
    width: 100%;
    min-height: 10rem;
    height: 100%;
}


/* .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.col {
    display: flex;
    justify-content: space-around;
    align-items: center;
} */
