
.field {
    background-image: url('http://localhost:3000/field_grey_background.jpg');
    background-repeat: no-repeat;
    background-position: center 5em;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    background-color: #2B3648;

}

.container {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    flex-wrap: nowrap;
    min-height: 95vh;
    padding-top: 7em;
}

/* .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.col {
    display: flex;
    justify-content: space-around;
    align-items: center;
} */