
body {
    background-color: #2B3648;
}

.sidebar {
    background-color: #212936;
    height: 3.5em;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: auto;
    position: fixed;
    width: 100vw;
}

.homeTitle {
    color: #fff;
}

.menu-bars {
    margin-left: 1em;
    font-size: 2em;
    background: none;
}

.nav-menu {
    background-color: #212936;
    width: 13.2em;
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    position: fixed;
    top: 0em;
    margin-top: 8.5rem;
    left: -100%;
    transition: 850ms;
    z-index: 1000;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;    
}

.top-log-icon {
    color: white;
    width: 4rem;
    height: 3rem;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.5em 0.5em 0.5em 1em;
    list-style: none;
    height: 3.7em;
}

.nav-text a {
    text-decoration: none;
    color: #c4c4c4;
    font-size: 1em;
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1em;
    border-radius: 5px;
}

.nav-text a:hover {
    background-color: #2B3648;
    color: #C2ED63;
    border-radius: 5px; 
    box-shadow: 6px 6px 5px  #C2ED63;
}

.nav-menu-items {
    width: 100%;
    padding-left: 0;
    margin-top: -5rem;
}

.sidebar-toggle {
    /* background-color: #C2ED63; */
    background-color:#212936;
    color:white;
    width: 100%;
    padding: 1rem;
    height: 5.3em;
    display: flex;
    justify-content: start;
    align-items: center;
    
}

span {
    margin-left: 1em;
}