
body {
  background-color: #2B3648;
}

#content {
  height: 100%;
}

main {
  position: relative !important;
  height: 100vh;
  width: auto !important;
  overflow-y: scroll;
}


#sidebar {
  height: 100vh !important;
  position: static !important;
  top: 0;
  bottom: 10px;
  width: 100px;
  margin: 10px;
  overflow-y: scroll;
}


.navbar {
  position: fixed !important;
}

input {
  background-color: rgb(85, 85, 85) !important;
  color: grey !important;
  border: none !important;

}

#filters {
  background-color: rgb(85, 85, 85) !important;
}

.card-1 {
  padding: 1.4rem;
  margin-top: -1rem;
  margin-bottom: -1rem;
  display: flex;
  flex-direction: column;
  background-image: url(./images/goldcard2.png);
  background-repeat:no-repeat;
  background-size: 9rem 13rem;
  z-index: -1;
  width: 9rem;
  height: 13rem;
}

.card-top {
  height: 50%;
  display: flex;
  flex-direction: row;
}

.card-bottom {
  margin-top: 0.5rem;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.basic-ratings {
  padding-left: 1rem;
  margin-top: -0.5rem;
  font-size: 0.6rem;
  color: black;
}

.informacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  width: 20%;
  height: 100%;
}

.face{
  position: relative;
  width: 85%;
  height: 100%;
  top: 0.2rem;
  
  /* background-image: url(./images/Carajugador.png);
  background-size: 130px 135px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y:center; */
}

.NAME-PLAYERS{
  font-size: 1rem;
  color: rgb(58, 44, 44);
}

.NUMBER-PLAYERS{
  width: 1rem;
  height: 1rem;
  font-size: 1.2rem;
  color: rgb(58, 44, 44);
}

.nation{
  width: 1.2rem;
  height: 0.9rem;
  margin-bottom: 0.1rem;
}

.club{
  width: 1.2rem;
  height: 1.2rem;
}


.face-details{
  background-image: url();
  background-size: 150px 150px;
  height: 150px;
  width: 150px;
  background-repeat: no-repeat;
}
.details-bod{
  padding: 15px;
}
.card-details{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);

}
.card-body-details{
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}
.stat-details{
  margin-right: -8px;
  margin-left: -8px;
}

.list-face {
  width: 3rem;
  height: 3rem;
}
.progress-bar{
  background-color: #C2ED63 !important;
}
.card{
  background-color:#212936 !important;
  color: #c4c4c4 !important;
}
.text-details{
  color: #C2ED63 !important;
}
.stats-defined{
  background-color:#212936 !important;
}
.text-defined{
  color: #c4c4c4 !important;

.table-dark {
  --bs-table-hover-bg: #474d56 !important;
  --bs-table-hover-color: #8dd529 !important;
}